<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-product</title>
</head>
<body>
    <Nav>
        <ul>
            <li>add-product</li>
            <li>store-product</li>
        </ul>
    </Nav>
    <main>
        <h1>Hello</h1>
        <form 
        action="http://localhost:3000/admin/store-product" method="POST">
            <input type="text" name="message" /> 
            <input type="submit" />
    </main>
</body>
</html>